@use './components/_header';
@use './components/_card';
@use './pages/details';
@use "./enterPages/welcome";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*::selection{
    background-color: brown;
}